:root{
    --red: #ea1c2c;
    --pink: #f498b8;
    --purple: rgb(222,192,222);
    --brown: #c4b4a4;
    --green: #207539;
    --black: #000501;
}

body {
  background: #f6f8f8;
  font-family: "Roboto", sans-serif;
}

.logo {
    position: relative;
    float: left;
    width:  350px;
    height: 350px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin: 2% 2% 2% 2%;

}

h2 {
    font-family: "Roboto", sans-serif;
    color: var(--green);
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 2px solid #f1eeee;
    width: 30%;
    padding-bottom: 0px;
    padding-top: 5%;
} 

#mainNavbar {
  background-color: #070707;
  padding-left: 6%;
}

#mainNavbar .nav-link {
  color: #f6f8f8;

}

#mainNavbar .nav-link:hover {
color: #088a31;
}

#mainNavbar .navbar-brand {
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  color: #f6f8f8;
}

#mainNavbar .navbar-logo {
  padding-right: 3%;
  margin-left: 0%;
  margin-right: 50%;
  color: #f6f8f8;
  font-weight: bold;
}
    
      #heading-group span {
        color: var(--red);
      }
    
      #heading-group h1 {
          font-weight: 100;
          font-size: 4rem;
      }
    
    
    .navbar.scrolled {
        background-color: var(--brown);
        transition: background 500ms;
    }
    
    .footer {
    font-size: small;
    position: relative;
    z-index: -99 !important;
     padding-right: 0%;
     padding-left: 0%;
     margin-left: auto;
     margin-right: auto;
    min-width: 100%;
    max-width: 100%;
    background-color: black;
    min-height: 100%;
    min-width: 100%;
    bottom: 0;
    color: blanchedalmond;
    line-height: 2;    
    }

    #myImg {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        position: relative;
        float: left;
        width:  350px;
        height: 350px;
        background-position: 50% 50%;
        background-repeat:   no-repeat;
        background-size:     cover;
        margin: 2% 2% 2% 2%;
      }
      
      #myImg:hover {
        opacity: 0.7;
      }
      
      .modal {
        display: none;
        /* Hidden by default */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Sit on top */
        padding-top: 100px;
        /* Location of the box */
        left: 0;
        top: 0;
        width: 100%;
        /* Full width */
        height: 100%;
        /* Full height */
        overflow: auto;
        /* Enable scroll if needed */
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.9);
        /* Black w/ opacity */
      }
      
      .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
      }
      
      #caption {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
        text-align: center;
        color: #ccc;
        padding: 10px 0;
        height: 150px;
      }
      
      .modal-content,
      #caption {
        animation-name: zoom;
        animation-duration: 0.6s;
      }
      
      @keyframes zoom {
        from {
          transform: scale(0)
        }
        to {
          transform: scale(1)
        }
      }
      
      .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
      }
      
      .close:hover,
      .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
      }
      
      @media only screen and (max-width: 700px) {
        .modal-content {
          width: 100%;
        }
      }